@charset "utf-8";
/* CSS Document */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, p{
	padding: 0;
	margin: 0;
}
a {
	color: #898989;
	text-decoration: none;
}

/* ==========================================================================
   end Base styles: opinionated defaults
   ========================================================================== */   
body {
	width: 100%;
	height: 100%;
	color: #898989;
	font-family: "arial","华文细黑", "微软雅黑";
	font-size: 14px;
	background: #fff;
	overflow: hidden;
}


/* =========================================================
   push & pull
   ========================================================= */
#container {
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165,0.84,0.44,1);
}
#container.push {
	-webkit-transform: translateX(250px);	
	box-shadow: -3px -3px 6px rgba(0,0,0,0.8);	
}
#container.pull {
	-webkit-transform: translateX(-250px);
	box-shadow: 3px -3px 6px rgba(0, 0, 0, .8);
}

#menu {
	visibility: hidden;	
	display: none; /* 解决ios中，touch穿透问题 */
}   
#menu.push {
	visibility: visible;
	display: block;
}	

#user {
	visibility: hidden;
}
#user.pull {
	visibility: visible;
}







/* =========================================================
   end push & pull
   ========================================================= */   


/*==============================================
  header & nav
================================================*/
header {
	width: 100%;
	height: 68px;
	position: relative;
	overflow: hidden;
	background: #fff;
	z-index: 999; /* 让header不被container的shadow遮盖 */
}
header i {
	position: absolute;
	width: 27px;
	height: 27px;
}
header .menu-open {
	left: 20px;
	top: 23px;
	background: url(../img/menu.png) no-repeat center center;
}
header .user-open {
	right: 20px;
	top: 21px;
	background: url(../img/login.png) no-repeat center center;
}
header .logo {
	display: block;
	width: 203px;
	height: 53px;
	margin: 7px auto;
}
header .logo img {
	width: 100%;
}
nav a {
	float: left;
	width: 50%;
	height: 60px;
	color: #fff;
	font-size: 24px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	background: #94c629;
	box-sizing: border-box;
}
nav a:last-child {
	box-shadow: -2px 0 rgba(191, 221, 127, 1);
}
nav a.curr {
	background: #87b81d;
	border-bottom: 4px solid #618d01;
}
/*==============================================
  end header & nav
================================================*/



/*============================================================
  #menu
===================================================================*/
#menu {
	width: 250px;
	position: fixed;
	left: 0;
	top: 0;
	background: #303435;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;	
}
#menu .menu-con {
	height: 770px;
}
#menu .search-wrap {
	width: 100%;
	height: 60px;
}
#menu .search-input {
	width: 180px;
	height: 20px;
	padding: 10px;
	padding-left: 40px;
	margin: 10px;
	background: #fff url(../img/search-icon.png) no-repeat 10px 6px;
	border: 0 none;
	border-radius: 20px;
}
#menu .search-input:focus {
	outline: 0 none;
}
#menu li {
	border-bottom: 1px solid #646565;
}
#menu li:first-child {
	border-top: 1px solid #646565;
}
#menu li a {
	display: block;
	height: 100%;
}
#menu li.user-item a {
	height: 55px;
}
#menu li.title-item {
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 20px;
	text-align: center;
}

#menu li.user-item a span {
	font-size: 14px;
}
#menu li.course-item {
	height: 50px;
	line-height: 50px;	
	background: url(../img/gray-arrow.png) no-repeat 225px center;
}
#menu li.course-item a {
	padding-left: 20px;
	color: #cecece;
	font-size: 18px;
	border-left: 6px solid #1d1d1d;
}
/*============================================================
  end #menu
===================================================================*/

/* ================================================
   user
   ================================================ */
#user {
	width: 250px;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	background: #303435;
}
.user-con {
	yu-display: none;
}
.user-top {
	height: 60px;
	padding: 0 10px;
	line-height: 60px;
	color: #b7b7b7;
	font-size: 13px;
	background: #1d1d1d;
}
.user-top .fl a{
	color: #66c003;
}
.user-top .fr {
	font-size: 12px;
}
.login-form {
	padding: 20px 10px;
}
.input-con {
	margin-bottom: 15px;
}
.txt-input {
	height: 40px;
	width: 100%;
	yu-line-height: 40px;
	yu-line-height: normal
	color: #c2c2c2;
	text-indent: 10px;
	border: 2px solid #000;
}
.txt-input:focus {
	outline: 0 none;
	border: 2px solid #94c629;
}
.login-btn {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0;
	color: #fefefe;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #699901;
	background: #94c629;
	border: 2px solid #699901;
	box-sizing: content-box;
}

#user-loged .user-loged-top {
	height: 68px;
	padding: 0 10px;
	line-height: 68px;
	color: #fffffe;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000000;
	background: #1d1d1d;
}
#user-loged .user-loged-top .pill {
	margin-top: 20px;
	padding: 4px 15px;
	line-height: 1;
	font-size: 16px;
}	
#user-loged li {
	padding-left: 33px;
	border-bottom: 1px solid #646565;
}
#user-loged li a {
	padding: 0;
	line-height: 70px;
	background-position: 193px center;
}
#user-loged .green-item {
	background: url(../img/green-star.png) no-repeat 10px 24px;
}
#user-loged .yellow-item {
	background: url(../img/yellow-user.png) no-repeat 10px 24px;
}
#user-loged .blue-item {
	background: url(../img/blue-clock.png) no-repeat 10px 24px;
}
/* ================================================
   end user
   ================================================ */   

/*================================================
  主页
===================================================*/
#container {
	background: #f7f7f7;
}
/* content-left */
#content-left {
	yu-display: none;
}	
#slider {
	width: 100%;
	height: 115px;
	margin-bottom: 15px;
	overflow: hidden;
}
#slider img {
	width: 100%;
}


#free-member h2 {
	border-bottom-color: #ffd200;
}
#free-member h2 .triangle {
	border-top-color: #ffd200;
}

.mod-video h2 a.more {
	float: right;
	font-size: 14px;
}
.video-list {
	margin: 0;
	padding: 0;
	padding-right: 15px;
}
.video-item {
	float: left;
	width: 50%;
	padding-left: 15px;
	margin-bottom: 8px;
	box-sizing: border-box;
	list-style: none;
}
.video-item .video-thumb {
	background-color: #999;
}
.video-item .video-thumb img {
	width: 100%;
	vertical-align: middle;
}
.video-data {
	height: 42px;
	line-height: 20px;
	padding-top: 6px;
	overflow: hidden;
}
.video-data a {
	display: block;
	text-decoration: none;
}
.video-data .video-name {
	color: #000;
	font-size: 16px;	
}
.video-data .video-intro {
	color: #898989;
	font-size: 14px;
}
/* content-left */

/* content-right */
#content-right {
	display: none;
}	
.member-hd {
	padding: 15px;
}	
.member-hd h3 {
	margin: 0;
	padding: 0;
}
.member-hd h3 em{
	margin: 0;
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}	
#visitor .member-hd h3 em {
	color: #94c629;
}
#free-member .member-hd h3 em {
	color: #fdd30d;
}
.member-hd h3 span {
	line-height: 30px;
	color: #767676;
	font-size: 16px;
	font-weight: normal;	
}
.member-hd .pill {
	margin-top: 11px;
}
#free-member .pill {
	text-shadow: 1px 1px 1px rgba(195, 161, 0, 1);	
	background-color: #ffd200;
	border-color: #d19400;	
}
#content-right .video-con {
	padding-top: 10px;
	background: #f7f7f7;
}
/* end content-right */

/*===========================================================
  end 主页
=============================================================*/


/*====================================================
  二级页面videoList.jsp
=======================================================*/
.list-page-title {
	height: 46px;
	line-height: 46px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	background: #94c629;
}
.vVideo-item {
	padding: 15px 0;
	border-bottom: 1px solid #e1e1e1;
}
.vVideo-item:last-child {
	border-bottom: 0 none;
}
.vVideo-thumb {
	float: left;
	width: 143px;
	height: 94px;
	margin-right: 20px;
}
.vVideo-thumb img {
	width: 143px;
	height: 94px;
	border: 2px solid #e0e0e0;	
}
.vVideo-data {
	height: 94px;
	position: relative;
	overflow: hidden;
}
.vVideo-name {
	color: #222222;
	font-size: 16px;
}
.vVideo-author  {
	margin-top: 10px;
	color: #3f3f3f;
	font-size: 14px;
}
.vVideo-intro {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #616161;
	font-size: 14px;
}

/* ====================================================
   end 二级页面videoList.jsp
======================================================= */


/*================================================
   视频播放页面
====================================================*/
video {
	width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.player-top {
	width: 100%;
	height: 40px;
	text-indent: 20px;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	background: #4c4c4c;
}
.player-bottom {
	height: 48px;	
	line-height: 48px;
	padding: 0 20px;
	background: #f7f7f7;
}
.course-intro {
	padding: 20px 20px;
}
.course-intro h2 {
	margin-bottom: 5px;
	margin-left: -8px;
}
.course-intro p {
	font-size: 12px;
	line-height: 20px;
}
.recommend .green-line-title {
	width: 96%;
	margin: 0 auto;
}
.fav-btn {
	padding-left: 25px;
	background: url(../img/fav-icon.png) no-repeat left 13px;
}

/* ================================================
   end 视频播放页面
====================================================*/

footer {
	clear: both;
	height: 70px;
	line-height: 14px;
	color: #494949;
	font-size: 12px;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
	text-align: center;
	background: #e2e0e0;
	border-top: 1px solid #cbcaca;
}
footer p {
	margin: 10px 0;
}



/* helper class */
.cf:before, .cf:after {
	display: table;
	content: '';
}
.cf:after {
	clear: both;	
}
.cf {
	*zoom: 1;
}
.clear-both {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;	
}
.pd10 {
	padding: 10px;
}

.triangle {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 5px;
	border-style: solid dashed dashed dashed;
	border-color: #94c629 transparent transparent transparent;
}
.wrap {
	width: 96%;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

.pill {
	display: block;
	padding: 6px 14px;
	color: #fff;
	font-size: 22px;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(97, 141, 1, .9);
	background: #94c629;
	border: 2px solid #618d01;	
	-webkit-border-radius: 24px;
	        border-radius: 24px;
	background-clip: padding-box; /* 修复背景色溢出圆角bug */
}

.green-title {
	color: #94c629;
	font-size: 20px;
	font-family: "arial", "华文细黑", "微软雅黑";
	yu-text-shadow: 1px 1px 1px rgba(101, 148, 0, 1);
}
.green-line-title{
	height: 24px;	
	margin: 0;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 14px;
	line-height: 24px;
	color: #000;
	font-size: 18px;
	font-weight: normal;	
	position: relative;
	border-bottom: 3px solid #8dbe24;
}
.green-line-title i.triangle{
	position: absolute;
	left: 30px;
	bottom: -12px;
}
.green-line-title a {
	color: #000;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
}

li.user-item {
	height: 70px;
	font-size: 18px;
}
li.user-item a {
	display: block;
	height: 100%;
	padding-left: 15px;
	padding-top: 15px;		
}
li.green-item a{
	color: #a2ee00;
	background: url(../img/green-arrow.png) no-repeat 225px center;
}
li.yellow-item a{
	color: #ffde00;
	background: url(../img/yellow-arrow.png) no-repeat 225px center;
}
li.blue-item a{
	color: #00ccff;
	background: url(../img/blue-arrow.png) no-repeat 225px center;
}




